extends layout

block header
  .header
      h1.page-title Authenticate User

//- block content
//-   .main-content
//-     p.
//-       Please enter your login details or sign-up below to enter the site.          
//-     p.
//-       #[a(href="../li_map#puli") Load the pilot Liveability Index map visualisation.]
//- 
//- block footer
//-   .footer
//-       p &copy; Health Liveable Cities Group, RMIT 2017
//- 
//- 

//- HACK TO DUMMY UP AUTHENTICATION PAGE...

block content
  h2. 
    User Authentication
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log in or sign up
        //-form(method='POST' action='/login')
        form(action='/li_map#authenticate')
          input(name='csrfmiddlewaretoken' value='sgNYiE6k0tB5Lg2qnlys2nSYJH7EZqsJ' type='hidden')
          div.form-group
            label(for='username') Username
            input.form-control(type='text' id='username' placeholder='' name='username')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='' name='password')
          button.btn.btn-primary(type='submit') Submit

//- better implementation of login screen if required
//- extends layout
//- 
//- block content
//-   .main.container
//-     .row
//-       .col-md-6.col-md-offset-3
//-         h1.display-4.m-b-2 Sign Up
//- 
//-         // register form
//-         form(method='POST' action='/register')
//-           div.form-group
//-             label(for='name') Name:
//-             input#name.form-control(type='text', placeholder='first and last' name='name')
//-           div.form-group
//-             label(for='email') Email:
//-             input#email.form-control(type='email', placeholder='name@email.com' name='email')
//-           div.form-group
//-             label(for='favoriteBook') Favorite Book:
//-             input#favoriteBook.form-control(type='text', placeholder='title of book' name='favoriteBook')
//-           div.form-group
//-             label(for='pw') Password:
//-             input#pw.form-control(type='password' name='password')
//-           div.form-group
//-             label(for='pw2') Confirm Password:
//-             input#pw2.form-control(type='password' name='confirmPassword')
//-           button.btn.btn-primary(type='submit') Sign up

//- script.
//-   run_authentication()
