extends layout

block header
  .header
      h1.page-title Pilot Victorian Liveability Index

block content
  .main-content
    p.
      The pilot composite index of urban liveability in Victoria is an extension of previous research undertaken as part of the NHMRC Centre of Research Excellence in Healthy Liveable Communities. It conceptualises social determinants of health through seven domains of liveability using a socio-ecological framework: employment, food, housing, public open space, social infrastructure, transport, and walkability.
    
    p.
      The liveability index was developed to measure the distribution of accessibility and availability of the seven liveability domains hypothesized to support health and wellbeing. It combines these into a policy-relevant and evidence-informed composite index for residential address points which may be summarised at various area level aggregations (e.g. Mesh Blocks, SA1, or suburb) and visualised spatially.
    
    p.
      The index will allow integrated urban planning policies for liveable neighbourhoods to be evaluated in terms of how well they are being delivered across the Melbourne metropolitan region, the health impact of the integration of those policies, and to whom. Policies which are (and are not) being delivered may be identified through dis-aggregation of the liveability index into sub-domains, enabling identification of opportunities for future investment.  Inequities in liveability across the metropolitan expanse can be interrogated through visualisation and used as exposure covariates in statistical modelling.
    
    h2. 
      Liveability Index map explorer
    
    p.
      An interactive tool to explore liveability across the ABS Statistical Area 1 (SA1) regions of Melbourne has been developed.  The interactive map displays summary statistics for areas in two ways: 1) by clicking on an area, its liveability and associated indicator percentile position relative to the rest of Melbourne will be summarised in a popup; 2) by hovering over areas their attributes will likewise be summarised in a summary window.  In this way, direct comparisons may be made between liveability and other indicator scores across different areas.
      
    p.
      #[a(href="../li_map#authenticate") Login or sign-up to load the pilot Liveability Index map visualisation.]
    li
        a(href='/people/profile/test')
    form
        input(type='hidden', name='csrfmiddlewaretoken', value='thisisnotacsrftoken')
block footer
  .footer
      p &copy; Health Liveable Cities Group, RMIT 2017
