extends layout_map

block content
    img.center(src='/images/loading_spinner.gif')
    select#inddrop
      optgroup(label='Liveability')
        option(value='PH0') &#xf1d1; Liveability index (hard)
        | 
        option(value='PS0') &#xf1d1; Liveability index (soft)
        | 
      optgroup(label='Walkability')
        option(value='PH1') &#xf21d; Walkability index (hard)
        |   
        option(value='PS1') &#xf21d; Walkability index (soft)
        |                          
        option(value='PH2')        - Daily living score (hard)
        |                          
        option(value='PS2')        - Daily living score (soft)  
        |   
        option(value='PH3')        - Dwelling density  
        |   
        option(value='PH4')        - Street connectivity  
        |   
      optgroup(label="Social Infrastructure")
        option(value='PH5') &#xf0f8; Social infrastructure mix (hard) 
        |   
        option(value='PS5') &#xf0f8; Social infrastructure mix (soft)
        |   
      optgroup(label="Transportation")
        option(value='PH6') &#xf239; PT access meets policy (hard %)
        |  
        option(value='PS6') &#xf239; PT access meets policy (soft %)
        |    
      optgroup(label="Green Infrastructure")   
        option(value='PH7') &#xf1bb; POS ≥ 1.5Ha within 400m (hard %)  
        |      
        option(value='PS7') &#xf1bb; POS ≥ 1.5Ha within 400m (soft %)  
        |      
      optgroup(label="Housing")
        option(value='PH8') &#xf015; Affordable housing
        |      
      optgroup(label="Employment")
        option(value='PH9') &#xf0c0; Live & work in local area
        |      
      optgroup(label="Ambient Environment")
        option(value='PH10') &#xf0e4; Air quality 
        
    #about &#xf05a;
        
    #map
    
    script.
      load_li_map()
      // introJs().start();
      
    // Define popup info boxes  
    #popup_satellite.overlay
      .popup
        h2 Satellite basemap
        |     &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | The satellite base map layer is useful for evaluating the geographic context of a region.
    #popup_basic.overlay
      .popup
        h2 Basic topology basemap
        |     &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | The basic map layer provides a simplified view of the region's topology.
    #puli.overlay
      .popup
        h2 Pilot Urban Liveability Index
        |     &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | Pilot Urban Liveability Index (PULI) has been developed by the Healthy Liveable Cities group in the Centre for Urban Research at RMIT University as a policy relevant composite indicator of urban liveability, based on a socio-ecological model of health and wellbeing.  It focuses on the state of Liveability for Melbourne in 2011.
          p.
            The liveability index is comprised of a selection of indicators from each of these domains which our research has identified as supporting health and wellbeing: <a href="#PH1">Walkability index</a>, <a href="#PH5">Social Infrastructure mix</a>, <a href="#PH6">PT access meets policy</a>, <a href="#PH7">	 POS ≥ 1.5Ha within 400m</a>, <a href="#PH10">Air quality</a>, <a href="#PH8">Affordable housing</a> and <a href="#PH9">Live and work in local area</a>.   It can be used to interogate and visualise spatial variation in liveability across a range of spatial scales, and may be linked to other data such as the Australian Bureau of Statistics community profiles for greater insight into local area contexts.
          p.
            It is envisaged as a useful tool for planners, policy makers, researchers and the broader public for evaluating the current state of our urban environment.
    #PH0.overlay
      .popup
        h2 &#xf1d1; Liveability index (hard)
        |     &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | The Liveability Index provides a percentile ranking of an area's liveability out of 100, where a rating of 50 may be considered average relative to all other such areas across the city. The Index is based on a composite score derived from indicators of the following domains: <a href="#PH1">Walkability</a>, <a href="#PH5">Social Infrastructure</a>, <a href="#PH6">Transportation</a>, <a href="#PH7">Public Open Space</a>, <a href="#PH10">Environmental Sustainability</a>, <a href="#PH8">Housing</a> and, <a href="#PH9">Employment</a>.  This version of the liveability index is calculated using hard-threshold indicators of <a href="#destination_access">destination access</a>.
    #PS0.overlay
      .popup
        h2 &#xf1d1; Liveability index (soft)
        |     &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | The Liveability Index provides a percentile ranking of an area's liveability out of 100, where a rating of 50 may be considered average relative to all other such areas across the city. The Index is based on a composite score derived from indicators of the following domains: <a href="#PH1">Walkability</a>, <a href="#PH5">Social Infrastructure</a>, <a href="#PH6">Transportation</a>, <a href="#PH7">Public Open Space</a>, <a href="#PH10">Environmental Sustainability</a>, <a href="#PH8">Housing</a> and, <a href="#PH9">Employment</a>.  This version of the liveability index is calculated using soft-threshold indicators of <a href="#destination_access">destination access</a>.
    #PH1.overlay
      .popup
        h2 &#xf21d; Walkability index (hard)
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | Walkability is calculated using standardised measures of <a href="#PH2">daily living score</a>, <a href="#PH3">dwelling density</a>, <a href="#PH4">street connectivity</a>.  This version of the walkability index is calculated using hard-threshold indicators of <a href="#destination_access">destination access</a>.
    #PS1.overlay
      .popup
        h2 &#xf21d; Walkability index (soft)
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | Walkability is calculated using standardised measures of <a href="#PS2">daily living score</a>, <a href="#PH3">dwelling density</a>, <a href="#PH4">street connectivity</a>. This version of the walkability index is calculated using soft-threshold indicators of <a href="#destination_access">destination access</a>.
    #PH2.overlay
      .popup
        h2 &#xf21d; Daily living score (hard)
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | The daily living score is an indicator of land use mix, based on access to at least one public transport stop, a convenience destination (such as a newsagency, or convenience store) and a supermarket.  
    #PS2.overlay
      .popup
        h2 &#xf21d; Daily living score (soft)
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | The daily living score is an indicator of land use mix, based on access to at least one public transport stop, a convenience destination (such as a newsagency, or convenience store) and a supermarket.  This version of the daily living score is calculated using soft-threshold indicators of <a href="#destination_access">destination access</a>.
    #PH3.overlay
      .popup
        h2 &#xf21d; Dwelling density
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | Dwelling density is the ratio of the total number of dwellings located in Mesh Blocks intersecting each residential address point's 1600m buffer divided by the buffer size in hectares.
    #PH4.overlay
      .popup
        h2 &#xf21d; Street connectivity
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | Street connectivity is the ratio of the count of intersections with 3 or more directions intersecting a participants’ 1600m buffer divided by the buffer size in square kilometres  
    #PH5.overlay
      .popup
        h2 &#xf0f8; Social infrastructure mix (hard)
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | A social infrastructure mix score was created by assessing access to 15 different types of destinations including community centres, neighbourhood houses, museums and art galleries, cinemas and theatres, libraries, childcare, childcare (out of school hours), maternal child health,  government primary and secondary schools, aged care, community health centres, dentists, General Practitioner clinics, pharmacies, swimming pools and sport and recreation facilities. 
    #PS5.overlay
      .popup
        h2 &#xf0f8; Social infrastructure mix (soft)
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | A social infrastructure mix score was created by assessing access to 15 different types of destinations including community centres, neighbourhood houses, museums and art galleries, cinemas and theatres, libraries, childcare, childcare (out of school hours), maternal child health,  government primary and secondary schools, aged care, community health centres, dentists, General Practitioner clinics, pharmacies, swimming pools and sport and recreation facilities.   This version of the social infrastructure mix indicator is calculated using soft-thresholds to measure <a href="#destination_access">destination access</a>.
    #PH6.overlay
      .popup
        h2 &#xf239; PT access meets policy (hard)
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | A policy-informed access to public transport measure was developed based on Victorian planning guidelines stipulating access to a either a bus stop within 400m, a tram stop within 600m or a train station within 800m. 
    #PS6.overlay
      .popup
        h2 &#xf239; PT access meets policy (soft)
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | A policy-informed access to public transport measure was developed based on Victorian planning guidelines stipulating access to a either a bus stop within 400m, a tram stop within 600m or a train station within 800m.   This version of the public transport access indicator is calculated using soft-thresholds to measure <a href="#destination_access">destination access</a>.
    #PH7.overlay
      .popup
        h2 &#xf1bb; POS ≥ 1.5Ha within 400m (hard)
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | Access to Public Open Space is based on a policy recommendation that large public open space should be available within 400m of a residence. Access to large Public Open Space is defined as areas greater than > 1.5 hectares within 400m of households and is associated with greater health benefits than smaller Public Open Space areas. 
    #PS7.overlay
      .popup
        h2 &#xf1bb; POS ≥ 1.5Ha within 400m (soft)
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | Access to Public Open Space is based on a policy recommendation that large public open space should be available within 400m of a residence. Access to large Public Open Space is defined as areas greater than > 1.5 hectares within 400m of households and is associated with greater health benefits than smaller Public Open Space areas.  This version of the public open space access indicator is calculated using <a href="#destination_access">soft-thresholds</a>.
    #PH10.overlay
      .popup
        h2 &#xf0e4; Air quality
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | An indicator of air quality was calculated using a reverse scale of small area (Mesh Block) <a href="http://www.sciencedirect.com/science/article/pii/S0013935114003156">prediction of the annual average nitrogen dioxide (NO&#x2082;) levels for 2011</a>.  NO&#x2082; is an important indicator of air pollution, in particular road traffic emissions.  The Victorian Environmental Protection Authority recommend an annual average exposure to NO2 not exceed a threshold of 30 ppb.
    #PH8.overlay
      .popup
        h2 &#xf015; Housing
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | The Australian Bureau of Statistics (ABS) defines an area as having affordable housing if the lowest 40% of household incomes in a given area spend < 30% of their gross incomes on mortgage/rental payments. This is commonly referred to as the 30/40 rule, and is included in the PULI as an indicator of affordable housing.
    #PH9.overlay
      .popup
        h2 &#xf0c0; Live and work in local area
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | An indicator of local opportunities for employment was calculated as the proportion of employed people who live and work in same Statistical Area Level 3 (SA3) when measured at the smaller area of Statistical Area Level 2 (SA2). The area of SA3 generally refers to clusters of related suburbs around commercial and transport hubs in major urban areas.   
    #destination_access.overlay
      .popup
        h2 &#xf0c0; Destination access
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | Binary indicators of destination access were based on current urban policies or the literature if urban planning policies did not exist. While binary indicators are a natural way to express whether a policy has been achieved (or not), it is not intuitive that, for example, living within 390m from a bus stop gives a person full benefit of this proximity while living at 410m the resident receives zero benefit. This binary threshold can be referred to as a ‘hard threshold’, in contrast to ‘soft threshold’ indicators calculated using a logistic decay function yielding for each destination type a continuous access score ranging from 0 to 1.  
    #communityprofile.overlay
      .popup
        h2 &#xf0c0; Community profiles: under development
        |    &#x9;&#x9;
        a.close(href='#') &times;
        |     &#x9;&#x9;
        .content
          | Community specific data and comparisons will be displayed on request here, with inclusion pending a future update.  
