body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body, #map { position:absolute; top:0; bottom:0; width:100%; }

.info { 
  padding: 6px 8px; 
  /* font: 14px/16px Arial, Helvetica, sans-serif;  */
  background: white; 
  background: rgba(255,255,255,0.8); 
  box-shadow: 0 0 15px rgba(0,0,0,0.2); 
  border-radius: 5px; 
} 

.dynamicOverlay  {
    position:absolute;
    bottom:470px;
    right:550px;
    float:right;
    padding:15px;
    border: 1px solid black;
    background:#FED976;
}

.info h4 { margin: 0 0 5px; color: #777; }

.summarybox {
  width: 510px; 
}

.holder-table{width:490px; padding:0px;} 
.radio-table{width:8px; height:300px;  padding : 0px;}
.radio-table tr td {height:20px; padding : 0px;}
.ind-table {
    width: 500px;
    height: 300px;
}

.subindicator {
    color: #d1d1e0;
}


.legend { text-align: left; line-height: 15px; color: #555; } 

.legend i { width: 15px; height: 15px; float: left; margin-right: 8px; opacity: 0.7; }

.manualButton {
  padding:15px 30px;
  background-color: #308ba2;
  margin-left: 40px;
  text-decoration: none;
  font-weight: 900;
  color: white;
  text-transform:uppercase;
  transition: background-color .5s;
  border: none;
  border-radius: 2px;     
  cursor: pointer;
}
  
.header {
  background: url("../images/aerial_image_of_christchurch_suburbs_-_flickr_-_nz_defence_force-1800x1012.jpg");
  background-position: center top;
}
.header .page-title {
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  text-transform: capitalize;
  color: #fff;
  position: relative;
  margin: 0;
}

.nav {
  background: #000;
  text-align: center;
}
.nav li {
  display: inline-block;
}
.nav a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  background-color: #3ab795;
  text-decoration: underline;
}
.center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.main-content {
  margin: 50px auto;
  max-width: 600px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
.footer p {
  color: #444;
  font-size: 12px;
}

.g-ind-main {
  opacity: .5;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100% ; 
  background: #d65454;
}

.g-ind-sub {
  opacity: .3;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100% ; 
  background: #d65454;
}

.g-ind-alt {
  opacity: .3;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100% ; 
  background: #ffb3b3;
}
.g-popup {
  background-color: white;
  border-radius: 1px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: 220px;
}

input[type=radio] {
    border: 0px;
    width:  10px;
    height: 10px;
    vertical-align: middle;
    top: -1px;
    position: relative;
}


.leaflet-fade-anim .leaflet-popup {
  transition: none;
}

#suburb_hover, #lga_hover, #sa1_overlay, #ssc_overlay
 {
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#sa1_overlay, #ssc_overlay :hover {
    overflow: visible;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {            
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position:absolute;;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
}

